.customers-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.customers-link {
  color: #afb1b8;
}

.customers-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.customers-icon {
  fill: currentColor;
}

.customers-link:hover,
.customers:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
  transition-property: color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:focus,
.customers:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.customers + .customers {
  margin-left: 30px;
}
