.customers__link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.customers__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.customers__icon {
  fill: currentColor;
}

.customers__list + .customers__list {
  margin-left: 30px;
}
